* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: wheat;
}
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}
.cart-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
span {
  color: white;
}
.spn {
  color: antiquewhite;
}
.nav-link {
  color: white;
}
